:root {
  --color1: #ffffff;
  --color2: #0f4061;
  --color3: #f97a64;
  --color4: #fdebc9;
  --color5: rgb(47, 128, 10);
}

@font-face {
  font-family: Jost;
  src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--color4); */
  min-height: 100vh;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
  background: var(--color1);
}
nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: O 25px;
}

nav li:first-child {
  position: relative;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav li:first-child::before {
  content: "";
  background: var(--color3);
  width: 100%;
  height: 5px;
  position: absolute;
  transform: translateY(-25px);
}

nav li {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  font-family: Montserrat;
  /* margin: 0; */
  color: var(--color2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 20px 0;
  position: relative;
}

nav li:hover:before {
  content: "";
  background: var(--color3);
  width: 100%;
  height: 5px;
  position: absolute;
  transform: translateY(-25px);
}

.header-container {
  background: url(./assets/img/bg_officiel.png) center/cover fixed;
  display: block;
  text-align: center;
  padding: 70px 0 45px;
}

.logo-container {
  background: rgba(255, 255, 255, 0.39);
  border-radius: 25px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.logo-container img {
  height: 200px;
}
h1 {
  color: var(--color1);
  text-transform: uppercase;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgb(106, 106, 106);
}

h1 span {
  color: var(--color3);
  text-shadow: none;
  font-size: 2rem;
  margin-top: 10px;
}
.slogan {
  color: var(--color1);
  font-family: Jost, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin: 20px auto 30px;
}

/* .btn-header {
  text-transform: uppercase;
  font-family: Jost, Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding: 5px 15px;
  border: ;
} */

.btn-header {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: transparent;
  color: var(--color1);
  border: 1px solid var(--color1);
  padding: 10px 30px;
  cursor: pointer;
}

.btn-header i {
  font-weight: 800;
  color: var(--color3);
  margin-left: 10px;
}

.btn-header:hover {
  color: var(--color2);
  font-weight: 700;
  background: var(--color1);
  transition: 0.3s ease;
  border-radius: 150px;
  font-weight: 700;
  letter-spacing: 2px;
}

.dream-container {
  background: var(--color1);
  padding: 20px;
}
.dream-container p {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: Jost, Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1100px;
  margin: 10px auto;
  text-align: center;
}

/*  SECTION 3 : NOS DOMAINES DE FORMATION */
.formation-container {
  display: block;
  text-align: center;
  color: var(--color1);
  background: var(--color2);
  /* align-items: center; */
  padding-top: 45px;
}

.formation-container h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  text-align: center;
  max-width: 1100px;
}

.formation img {
  height: 25px;
}
